.flip-card {
  background-color: transparent;
  /* width: 100%; */
  height: 50vh;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  /* text-align: center; */
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.is-flipped {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  overflow: scroll;
  padding-left: 2rem;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color:white;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #ffd0d6;
  color: black;
  transform: rotateY(180deg);
}

.markdown li {
    list-style-type: disc !important;
}