/* .deck-hover {
    padding: 20px;
    margin: 20px;
    background-color: #ddd ;
    box-shadow: 10px 10px 5px #888; 
}

.deck-hover:hover {
    background-color: #bbb ;
    box-shadow: 10px 10px 5px #666; 
} */